* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
}

main section #trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#nome-sobrenome {
  display: flex;
}

#email-casa {
  display: flex;
}
