* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  height: 60px;
  margin-bottom: 50px;
}

#trybewarts-header-title {
  color: white;
  font-size: 45px;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding: 10px;
}

#email , #senha , #btn {
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}

#btn {
  background-color: white;
  color: rgb(50, 167, 145);
  font-weight: 900;
  padding: 5px 15px;
}

#submit-btn {
  background-color: rgb(50, 167, 145);
  color: white;
  font-weight: 900;
  border-radius: 7px;
  padding: 5px 15px;
}

#email:hover {
  background-color: whitesmoke;
}

#senha:hover {
  background-color: whitesmoke;
}

#btn:hover {
  background-color: purple;
  color: white;
}

#submit-btn:hover {
  background-color: purple;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

hr {
  margin: 15px;
}

main section #trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#input-name , #input-lastname {
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  margin: 5px;
}

#input-email , #house {
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  margin: 5px;
}

#house {
  width: 200px;
  padding: 10px;
}

#nome-sobrenome , #email-casa {
  display: flex;
  justify-content: center;
}

#family-section {
  display: flex;
  flex-direction: column;
}

#content-section {
  display: flex;
  flex-direction: column;
}

#textarea {
  width: 100%;
  margin: 15px 0 0;
}

#agreement {
  padding: 5px;
}

footer {
  display: flex;
  justify-content: center;
}
